<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SOFENCARH.Properties.Settings.encaagroConnectionString"
            connectionString="Data Source=DESKTOP-3JCE2HN;Initial Catalog=encaagro;User ID=sa;Password=1234;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="SOFENCARH.Properties.Settings.dbaEncaConnectionString"
            connectionString="Data Source=DESKTOP-3JCE2HN;Initial Catalog=dbaEnca;User ID=sa;Password=1234;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>