<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
	
  </connectionStrings>
  <appSettings>
    <!-- Variables de entorno para la configuración de conexión -->
    <add key="Server" value="%SERVER%" />
    <add key="Database" value="%DATABASE%" />
    <add key="User" value="%USERNAME%" />
    <add key="Password" value="%PASSWORD%" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>