<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Capa_Vista.Properties.Settings.encaagroConnectionString"
            connectionString="Data Source=DESKTOP-3JCE2HN;Initial Catalog=encaagro;User ID=sa;Password=1234;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>