<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Capa_Vista.Properties.Settings.EncaConnectionString"
            connectionString="Data Source=DESKTOP-3JCE2HN;Initial Catalog=Enca;User ID=Enca;Password=1234;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="Capa_Vista.Properties.Settings.EncaConnectionString1"
            connectionString="Data Source=DESKTOP-3JCE2HN\WALTER;Initial Catalog=Enca;User ID=Enca;Password=1234;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>